@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <!-- <img src="logo.png" alt="Logo" width="50"> -->
                <img src="~/Content/images/CHC.png" alt="" width="80">
            </a>

            <!-- Toggler button for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu items -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Trainingprg">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Comunitycon">Community Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <!-- Carousel -->
        <!-- <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="/img/bg-img/31.jpg" alt="Image 1">
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Image 1</h3>
                        <p>Description for Image 1</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/img/bg-img/31.jpg" alt="Image 2">
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Image 2</h3>
                        <p>Description for Image 2</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/img/bg-img/31.jpg" alt="Image 3">
                <div class="overlay">
                    <div class="overlay-content">
                        <h3>Image 3</h3>
                        <p>Description for Image 3</p>
                    </div>
                </div>
            </div>
        </div> -->

        <section class="about-area section-padding-40-0">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading mw-auto mx-2">
                            <h2> Christian Hope Centre</h2>
                            <br>


                            <p class="pb-3">
                                Share his love with the community and the world at large.
                            </p>
                            <p class="pb-3">
                                To provide spiritual, educational, and social events and activities
                                throughout the
                                community that will promote Godly relationships.
                            </p>
                            <p class="pb-3">
                                The CHC is a coalition of many community organisations whose collective
                                mission is to
                                serve the poor, hungry, disabled, and otherwise needy while respecting their religious,
                                ethnic or cultural differences. CHC was created out of faith and founded in the belief
                                that we are called to help all of God’s children heart to heart and hand in hand.
                            </p>
                            <p class="pb-3">
                                In the name of Jesus Christ, Christian Hope Centre ministers to the
                                poor by
                                providing comprehensive services that alleviate suffering, bring hope, and change lives.
                            </p>
                            <p class="pb-3">
                                The families we serve are guided through three areas of programming –
                                rescue, relief, and
                                restoration – to fulfill our commitment to help people obtain self-sufficiency and
                                prosperity.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row about-content justify-content-center">
                    <!-- Single About Us Content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="about-us-content mb-100">
                           <a href="/Home/Trainingprg">
                            <img src="~/Content/images/3.jpg" alt="">
                               </a>
                            <div class="about-text">
                                <h4>Training Programs</h4>
                                <p>An essential part of being a good leader is consistently demonstrating the willingness and drive to grow. That’s why Christian leadership training is a must for any ministry -it makes self-development an integral part of your church.</p>
                                <a href="/Home/Trainingprg">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single About Us Content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="about-us-content mb-100">
                            <a href="/Home/Hope_ministries">
                                <img src="~/Content/images/4.jpg" alt="">
                                </a>
                                <div class="about-text">
                                    <h4>Hope Ministries</h4>
                                    <p>
                                        Creating long term impact in the society both physically and spiritually. fulfilling the mandate and reconciling all men to God. Powerful worship. Brands: Mercy prevails, Expressing Jesus.
                                        Biblically based teaching
                                    </p>
                                    <a href="~/Home/Hope_ministries">Read More <i class="fa fa-angle-double-right"></i></a>
                                </div>
                        </div>
                    </div>

                    <!-- Single About Us Content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="about-us-content mb-100">
                            <a href="/Home/Comunitycon">
                                <img src="~/Content/images/5.jpg" alt="">
                            </a>
                            <div class="about-text">
                                <h4>Community Connect</h4>
                                <p>
                                    We are a community for everyone. Our organisation  can best be described as a family. Here, you will find a diverse group of people being renewed by the

                                    truth, goodness, and beauty of God in Jesus Christ,

                                    through the power and work of the Holy Spirit.
                                </p>
                                <a href="~/Home/Comunitycon">Read More <i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
