@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="contact-form section-padding-0-100 pb-5">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Register</h2>
                        <!-- <p>Your email address will not be published. Required fields are marked.</p> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        @using (Html.BeginForm("Register", "Home", FormMethod.Post))

                        {<form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-name">Name*:</label>
                                            <input type="text" class="form-control" id="Name" name="Name"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-email">Email:</label>
                                            <input type="email" class="form-control" id="Email" name="Email"
                                                   placeholder="info.deercreative@gmail.com">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">Phone:</label>
                                            <input type="text" class="form-control" id="Phone" name="Phone"
                                                   placeholder="(+12) 123 456 7910">
                                        </div>
                                    </div>
                                    <div class="col-12  col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="message">Age Group:</label>
                                            <select class="form-control form-select"
                                                    aria-label="Default select example" id="AgeGroup" name="AgeGroup">
                                                <option selected>Age Group</option>
                                                <option value="20 - 30">20 - 30</option>
                                                <option value="30 - 40"> 30 - 40</option>
                                                <option value="40 - 50"> 40 - 50</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">Country:</label>
                                            <input type="text" class="form-control" id="Country" name="Country"
                                                   placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">City:</label>
                                            <input type="text" class="form-control" id="City" name="City"
                                                   placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="fw-bold" for="message">Message:</label>
                                            <textarea class="form-control" name="Message" id="Message" cols="30"
                                                      rows="10" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <input type="submit" class="btn main-btn mt-15" value="Submit Now" />
                                    </div>
                                </div>
                            </form>}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <!-- <img src="logo.png" alt="Logo" width="50"> -->
                <img src="~/Content/images/CHC.png" alt="" width="80">
            </a>

            <!-- Toggler button for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Trainingprg">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Comunitycon">Community Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <div class="contact-form section-padding-0-100 pb-5">
            <div class="container">
                <div class="row">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading">
                            <h2>Register</h2>
                            <!-- <p>Your email address will not be published. Required fields are marked.</p> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Contact Form Area -->
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-name">Name*:</label>
                                            <input type="text" class="form-control" id="contact-name"
                                                   placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-email">Email:</label>
                                            <input type="email" class="form-control" id="contact-email"
                                                   placeholder="info.deercreative@gmail.com">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">Phone:</label>
                                            <input type="text" class="form-control" id="contact-number"
                                                   placeholder="(+12) 123 456 7910">
                                        </div>
                                    </div>
                                    <div class="col-12  col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="message">Age Group:</label>
                                            <select class="form-control form-select"
                                                    aria-label="Default select example">
                                                <option selected>Age Group</option>
                                                <option value="2">20 - 30</option>
                                                <option value="3"> 30 - 40</option>
                                                <option value="3"> 40 - 50</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">Country:</label>
                                            <input type="text" class="form-control" id="contact-number"
                                                   placeholder="Country">
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="fw-bold" for="contact-number">City:</label>
                                            <input type="text" class="form-control" id="contact-number"
                                                   placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="fw-bold" for="message">Message:</label>
                                            <textarea class="form-control" name="message" id="message" cols="30"
                                                      rows="10" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn main-btn mt-15">Submit Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
