
@{
    ViewBag.Title = "spekerone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <!-- <img src="logo.png" alt="Logo" width="50"> -->
                <img src="~/Content/images/CHC.png" alt="" width="80">
            </a>

            <!-- Toggler button for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Trainingprg">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Comunitycon">Community Connect</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container">
        <div class="container">
            <div class="flyerBg">
                <div class="flyerContainer">
                    <div class="container pb-4">
                        <div class="row gap-3">
                            <div class="col-12">
                                <div class=" d-flex mb-4">
                                    <div class="upcoming-events-thumbnail speaker-width">
                                        <img src="~/Content/images/madelyn.jpg"
                                             alt="" class="image-container">
                                    </div>
                                    <div class="upcoming-events-content d-flex">
                                        <div class="events-text">
                                            <div>
                                                <h2 class="custom-color fw-bold">Dr. Madelyn Galdenhuys</h2>
                                                <p>
                                                    <span class="custom-color">Education: </span>Master of Professional
                                                    Psychology Coordinator and Senior Lecturer
                                                    PhD., M.A., B.A. Honours in Organisational Psychology
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h2 class="custom-color fw-bold">Building Spiritually Healthy Organisations </h2>
                                    <p class="text-white text-justify">
                                        Madelyn Geldenhuys started working as an
                                        Academic, Researcher
                                        and Psychologist in
                                        2007. She was a lecturer and full time PhD candidate at the North West
                                        University, before joining the University of Johannesburg, So0000uth Africa in
                                        2010 as a Lecturer, Senior Lecturer and Associate Professor respectively. Before
                                        joining the University of Notre Dame, Sydney campus, she worked at the
                                        Australian College of Applied Professions (previously Psychology), primarily
                                        teaching into, and coordinating the professional psychology programs. During her
                                        time at ACAP, Madelyn acted as Discipline Lead for the Sydney campus and
                                        contributed to the program accreditation and implementation of the various
                                        psychology programs.
                                    </p>
                                    <p class="text-white text-justify">
                                        Madelyn is passionate about and enjoys teaching
                                        into overall
                                        mental health and
                                        wellbeing, work-related wellbeing and meaningful work, gender in the workplace
                                        and organisational psychology (and behaviour). She continues to work and
                                        collaborate on national and international research projects, while also
                                        supervising master's coursework projects, HDR and PhD research projects. She is
                                        appointed as a Senior Research Associate at the University of Johannesburg.
                                        Madelyn is an overseas trained psychologist registered with the Health
                                        Professions Council of South Africa and the New Zealand Psychologist Board.
                                        Madelyn is currently working in private psychology practice and holds
                                        registration with AHPRA.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </body>
